
/* BASE STYLES ========================================= */

* {
  box-sizing: border-box;
}

/* .clearfix::after {
  display: table:
  clear: both;
  content: "";
} */

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Raleway', sans-serif; */
}

.cont-row {
    display: flex;
    flex-direction: row;
}

.cont-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.cont-column {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
}

main {
    min-height: 90vh;
}

button, h6 {
    text-transform: uppercase;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
}

p {
    font-family: 'Philosopher', sans-serif;
    font-size: 1.2em;
}

/* NAV ========================================= */

.nav-color {
    background-color: #64FFDA;
}

.site-title {
    font-size: 5em;
    margin-left: .8em;
}

.nav-margin-home {
    margin-left: 4em;
    font-size: 1.5em;
    letter-spacing: .2rem;
}

.nav-margin-about {
    margin-left: 3em;
    letter-spacing: .2rem;
}

.nav-margin-shirts {
    margin-left: 3em;
    letter-spacing: .2rem;
}

.cart-icon {
  margin-right: 1em;
}

/* Carousel ================================== */
.caro-img {
  height: 100%;
}

/* MAIN CATEGORY ========================================= */

.outer-cloth-cont {
    padding: 5em 0;
}

.cloth-cont {
    width: 100%;
    padding-bottom: 5em;
    flex: 2;
}

.cloth-cont:last-child {
    padding-bottom: 0;
}

.cloth-caro {
    background-color: #A7FFEB;
    width: 70%;
    display: flex;
}

.cloth-side {
    background-color: white;
    width: 30%;
}

.mainShirtText {
    flex: 1;
    padding: 2em;
}

.mainShirtTitle {
  text-align: center;
  margin-top: 1.5em;
  letter-spacing: .2rem;
}

/* MAIN CATEGORY PAGE ========================================= */

.outer-cate-cont {
    margin: 5em;
}

.cate-spaceing {
    /* justify-content: space-between; */
    padding: 1em;
    margin: 1em;
}

.d-block w-100 {
  width: 100%;

}

/* SHOW PAGE ========================================= */

.outer-show-cont {
    margin: 5em;
    height: 70vh;
}

.show-image {
    width: 50%;
}

.show-image img{
    height: 100%;
}

.show-details {
    padding: 2em;
    width: 50%;
    background-color: #ccc;
}

.show-text p {
    margin: 0 1em;
    color: #6b6a6a;
}

/* CART ========================================= */

.cart-main {
    margin: 5em;
}

.cart-img {
    height: 8em;
    float: right;
    padding: 1em 3em 1em 1em;
}

.form-space-left{
    width: 100%;
    padding-right: 1em;
}

.form-space-right{
    width: 100%;
    padding: 1em;
    margin: 1em 0 1em 1em;
    border: solid 1px #ccc;
}

#cart-form {
    border: solid 1px black;
    padding: 2em;
    border-radius: 1em;
    width: 100%;
    justify-content: center;
}

#cart-item {
    border-top: solid 1px #ccc;
}

.cart-delete {
    float: right;
}

.quantity-flex {
    justify-content: space-between;
}

.outOfStock {
    /* display: none; */
    opacity: 0;
}

/* ABOUT ========================================= */

#about {
    background-color: #6a6361;
    height: 20em;
    text-align: center;
}

#aboutFont {
    letter-spacing: .2rem;
}

/* ABOUT ========================================= */

#about {
    background-color: #64FFDA;
    padding: 3em;
}

#tee-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-size {
    width: 30%;
    margin: .5em;
}

/* FOOTER ========================================= */

footer {
    background-color: #64FFDA;
    height: 4em;
    text-align: center;
}

.social-media

.media-fa {
  margin-right: 1em;
}

.media-tw {
  margin-right: 1em;
}


/* MEDIA QUERIES ========================================= */
/*
@media screen and (max-width: 425px){
    html {
        font-size: 12pt;
    }
}
 */
