
/* BASE STYLES ========================================= */

* {
  box-sizing: border-box;
}

/* .clearfix::after {
  display: table:
  clear: both;
  content: "";
} */

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Raleway', sans-serif; */
}

.cont-row {
    display: flex;
    flex-direction: row;
}

.cont-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.cont-column {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    min-height: 90vh;
}

button {
    text-transform: uppercase;
}

/* NAV ========================================= */

/* MAIN ========================================= */

.outer-cloth-cont {
    padding: 5em 0;
}

.cloth-cont {
    width: 100%;
    padding-bottom: 5em;
}

.cloth-cont:last-child {
    padding-bottom: 0;
}

.cloth-caro {
    background-color: #524b4b;
    height: 30em;
    width: 70%;
}

.cloth-side {
    background-color: white;
    width: 30%;
}

/* MAIN CATEGORY PAGE ========================================= */

.outer-cate-cont {
    margin: 5em;
}

.cate-spaceing {
    /* justify-content: space-between; */
    padding: 1em;
    margin: 1em;
}

/* SHOW PAGE ========================================= */

.show-image {
    margin: 0 2em;
    width: 50%;
}

.show-details {
    margin: 0 2em;
    padding: 2em;
    width: 50%;
    background-color: #ccc;
}

.show-text p {
    margin: 0 1em;
    color: #6b6a6a;
}

/* CART ========================================= */

.cart-main {
    margin: 5em;
}

.form-space-left{
    width: 100%;
    padding-right: 1em;
}

.form-space-right{
    width: 100%;
    padding: 1em;
    margin: 1em 0 1em 1em;
    border: solid 1px #ccc;
}

#cart-form {
    border: solid 1px black;
    padding: 2em;
    border-radius: 1em;
    width: 100%;
    justify-content: center;
}

.cart-item {
    border-top: solid 1px #ccc;
}

.cart-delete {
    float: right;
}

/* ABOUT ========================================= */

#about {
    background-color: #6a6361;
    height: 20em;
    text-align: center;
}

/* ABOUT ========================================= */

#tee-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-size {
    width: 30%;
    margin: .5em;
}

/* FOOTER ========================================= */

footer {
    background-color: #f8f9fa;
    height: 4em;
}

/* MEDIA QUERIES ========================================= */
/*
@media screen and (max-width: 425px){
    html {
        font-size: 12pt;
    }
}
 */
